li{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: #fff;
}

.font-size{
	font-size: 20px;
}
.img-favicon{
	width: 200px;
}
.article{
	width: 18rem;
}
.articles{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.article-image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.article-image{
	width: 100%;
	height: 220px;
}
.article-title{
	font-size: 18px;
	font-weight: 600;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.art{
	margin: 0 auto;
	margin-bottom: 20px;
	width: 85%;
	font-size: 16px;
}
.art-text{
	font-size: 18px;
}
.profile-image{
	border-radius: 100px;
	object-fit: cover;
	border: 1px solid transparent;
	width: 30px;
	height: 30px;
}
.tags-list a{
	font-weight: 600;
}
.profile-image img{
	width: 100%;
}
.tags{
	display: flex;
	flex-wrap: wrap;
}
.tags p{
	margin-left: 3px;
}
.article-title p{
	margin: 0;
}
.arts{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.track{
	width: 80%;
	margin: 0 auto;
}
.img-track{
	width: 20%;
	height: 140px;
}
.img-track img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.track-title{
	margin: 0;
	padding: 0;
}
.main-article{
	background-color: #303030;
	padding: 10px;
	width: 100%;
	height: 800px;
	border: none;
}
.main-article-title p{
	font-weight: 700;
	font-size: 50px;
}
.main-article-title{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}
.main-article-title a{
	padding: 10px 30px;
	font-weight: 600;
	font-size: 20px;
}
.main-article img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.back{
	border-radius: 10px;
	background-color: #303030;
	min-height: 100vh;
}
.nav-main a, .nav-main{
	color: #3794f3;
	text-decoration: none;
	font-size: 40px;
}
.head-nav a{
	transition: 0.3s;
	color: #fff;
}
.head-nav a:hover{
	transition: 0.3s;
	color: #3794f3;
}
#selected_category{
	color: #3794f3;
}
.nav-main#articles{
	position: absolute;
}
.nav-articles a{
	color: #fff;
	transition: 0.3s;
	font-size: 24px;
}
.tag-search{
	margin: 10px 0;
}
.nav-tag{
	margin-bottom: 10px;
}
.games{
	margin-top: 20px;
}
.detail-image{
	margin: 20px auto;
	width: 90%;
}
.detail-image img{
	width: 100%;
}
.detail-content{
	font-size: 19px;
}
.detail{
	margin: 0 auto;
	width: 80%;
}
.detail-content img{
	object-fit: contain;
	max-width: 90%;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}
.detail-content p{
	margin: 0;
}
.detail-statistic{
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-size: 26px;
}
.detail-statistic button{
	font-size: 18px;
}
#likes{
	padding-right: 5%;
}
.delete{
	display: inline;
}
.like{
	font-size: 20px;
}
.comment{
	border-radius: 10px;
}
.comment p{
	font-size: 18px;
}
.comment img{
	width:35px; 
	height:35px;
}
.sub_comment{
	width: 90%;
	margin: 10px auto;
}
.form-text textarea{
	resize: none;
	overflow: hidden;
	color: #fff;
}
.sub-form-comment{
	width: 90%;
	margin: 0 auto;
}
.track-img{
	width: 350px;
}
.track-img img{
	width: 100%;
}
.track-record{
	width: 50%;
	margin-top: 20px;
}
.track-record audio{
	width: 100%;
}
.message{
	font-size: 20px;
}
.messages{
	padding-top: 10px;
}
.errorlist li{
	color: #fff;
}
.registration{
	width: 30%;
	margin: 0 auto;
}
.registration input{
	margin: 30px 0;
}
.user-image{
	width: 100px;
	height: 100px;
}
.user{
	font-size: 30px;
}
.user-info{
	position: relative;
	font-size: 20px;
}
.close{
	position: absolute;
	right: 0;
	top: 0;
}
.statistic p{
	margin: 0;
}
.change-photo{
	width: 15%;
}
.change-name{
	width: 20%;
}
.history{
	margin-top: 30px;
}
.history button{
	color: #3794f3;
	font-weight: 600;
	font-size: 22px;
}
.change{
	display: flex;
}
.change div{
	margin-right: 30px;
}
@media(max-width: 1400px){
	.change-photo{
		width: 20%;
	}
	.change-name{
		width: 20%;
	}
}
.video{
	margin-top: 20px;
}
.video a{
	font-size: 20px;
}

@media(max-width: 1200px){
	.change-photo{
		width: 23%;
	}
	.change-name{
		width: 25%;
	}
}
@media(max-width: 991px){
	.choose_game{
		display: flex;
		flex-wrap: wrap;
	}
	.choose_game p{
		margin-left: 10px;
	}
	.nav-articles{
		padding-top: 10px;
	}
	.arts-content{
		flex-direction: column-reverse;
	}
	.nav-tag{
		margin-top: 10px;
	}
	.change-photo{
		width: 30%;
	}
	.change-name{
		width: 30%;
	}
	.article{
		margin-left: 5px;
		margin-right: 5px;
	}
	.main-article{
		height: 500px;
	}
	.main-article-title p{
		font-size: 34px;
	}
}
@media(max-width: 768px){
	.art{
		width: 95%;
	}
	.img-track{
		width: 100%;
		height: 220px;
	}
	.main-article{
		height: 300px;
	}
	.main-article-title p{
		font-weight: 600;
		font-size: 26px;
	}
	.main-article-title a{
		padding: 5px 15px;
		font-weight: 600;
		font-size: 16px;
	}
	.main-article img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top;
	}
	.nav-main#articles{
		position: relative;
	}
	.track{
		width: 100%;
	}
	.nav-articles{
		padding: 0;
	}
	.detail-statistic{
		flex-direction: column;
	}
	.detail-statistic div{
		margin-top: 10px;
	}
	.comment small{
		display: block;
		font-size: 16px;
	}
	.track-img{
		width: 200px;
	}
	.track-img img{
		width: 100%;
	}
	.track-record{
		width: 100%;
	}
	.message{
		font-size: 18px;
	}
	.registration{
		width: 80%;
	}
	.change{
		display: block;
	}
	.change-photo{
		width: 50%;
		margin-top: 20px;
	}
	.change-name{
		width: 50%;
	}
}
@media(max-width: 500px){
	.change-photo{
		width: 70%;
	}
	.change-name{
		width: 70%;
	}
	.user-image{
		width: 70px;
		height: 70px;
	}
	.user{
		font-size: 26px;
	}
	.main-article{
		height: 250px;
	}
	.main-article-title p{
		font-size: 22px;
	}
	.history button{
		font-size: 20px;
	}
}